/**
 * media query of viewport for adaptation
 * 1rem == 10vw
 */

// 流行的屏幕尺寸总是有限的
$devices: (
  320px: 32px, 
  360px: 36px, 
  375px: 37.5px, 
  412px: 41.2px, 
  414px: 41.4px, 
  480px: 48px,
  560px: 56px,
  640px: 64px,
  768px: 76.8px,
  1024px: 102.4px,
  1280px: 128px,
  1340px: 134px,
  1600px: 160px );

@each $vw, $size in $devices {
  @media (min-width: #{$vw}) {
    html {
      font-size: #{$size}
    }
  }
}

// tranform 750px standard psd to scalable for adaptation
$vw: 10rem / 750;


@mixin flexible {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;  
}
@mixin flex($num: 1) {
  -webkit-box-flex: $num;      /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: $num;         /* OLD - Firefox 19- */
  -webkit-flex: $num;          /* Chrome */
  -ms-flex: $num;              /* IE 10 */
  flex: $num; 
}